/* Write your code here. */
.div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #1d976c 0%, #93f9b9 107%);
  height: 100vh;
}

.h1 {
  text-align: center;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: bold;
}
